<div class="container">
  {{#each posts}}
    <div class="row m-5 border border-dark">
      <a
        href="/post/{{id}}"
        class="col border border-dark bg-dark"
        id="home-post-title"
      >{{title}}</a>
      <div class="col border border-dark bg-dark" id="home-post-info">Posted by
        {{user.username}}
        on
        {{format_date date_created}}</div>
      <div class="text-left">{{body}}</div>
    </div>
  {{/each}}
</div>

{{! Old codes }}
{{!-- <div>{{#each posts}}
    <div class="row align-center mb-5">
      <div class="col-md-6">
        <div>
          <h2><a href="/post/{{id}}">{{title}}</a><span>{{date_created}}</span>
            <span>Posted by {{user.username}}</span>
          </h2>
        </div>
        <h2>{{posts.title}}</h2>
        <p>{{body}}</p>
      </div>
    </div>
  {{/each}}
</div> --}}