<div>{{#each posts}}
    <div class="row align-center mb-5">
      <div class="col-md-6">
        <div>
          <h2><a href="/post/{{id}}">{{title}}</a><span>{{date_created}}</span>
            <span>Posted by {{user.username}}</span>
          </h2>
        </div>
        <h2>{{posts.title}}</h2>
        <p>{{body}}</p>
      </div>
    </div>
  {{/each}}
</div>