<div class="container">
  <div class="row border border-dark">
    <div class="col border border-dark bg-dark" id="dashboard-post-title">
      {{post.title}}
    </div>
    <div class="col border border-dark bg-dark" id="dashboard-post-info">Posted
      by
      {{post.user.username}}
      on
      {{format_date post.date_created}}</div>
    <div class="text-left">{{post.body}}</div>
  </div>
  <div class="container">
    {{#each post.comments}}
      <div class="row border border-dark">
        <div class="col border border-dark bg-dark" id="comment-post">
        </div>
        <div class="text-left">{{body}}</div>
      </div>
    {{/each}}
  </div>
</div>

{{#if logged_in}}
  <form class="comment-form m-2">
    <div class="row border border-dark">
      <div class="col border border-dark bg-dark">FOR DISPLAY ONLY
      </div>
      <div class="mb-3">
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <label for="comment-post" class="form-label">Comment</label>
        <input type="text" class="form-control-lg w-100" id="comment-post" />
      </div>
      <div class="form-group mb-3">
        <button type="submit" class="btn btn-secondary w-100">Submit</button>
      </div>
    </div>
  </form>
{{/if}}

<script src="/js/comment.js"></script>