<div>
  <p>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.name}} on {{date_created}}</p>
    <p>{{needed_funding}} needed</p>
    <button id="fund-button">Fund this Project!</button>
  </p>
</div>